<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" manuallyInstalled="true" />
  <package id="BouncyCastle.Cryptography" version="2.6.1" manuallyInstalled="true" />
  <package id="EntityFramework" version="6.4.4" />
  <package id="Google.Protobuf" version="3.31.1" manuallyInstalled="true" />
  <package id="K4os.Compression.LZ4" version="1.3.8" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" manuallyInstalled="true" />
  <package id="K4os.Hash.xxHash" version="1.0.8" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" />
  <package id="Portable.BouncyCastle" version="1.9.0" manuallyInstalled="true" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.119" />
  <package id="System.CodeDom" version="4.7.0" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" />
  <package id="System.Data.SQLite" version="1.0.119" manuallyInstalled="true" />
  <package id="System.Data.SQLite.Core" version="1.0.119" />
  <package id="System.Data.SQLite.EF6" version="1.0.119" />
  <package id="System.Data.SqlClient" version="4.8.1" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" />
  <package id="System.IO.Pipelines" version="6.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" />
  <package id="System.Security.Permissions" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" />
  <package id="ZstdSharp" version="0.7.2" manuallyInstalled="true" />
  <package id="ZstdSharp.Port" version="0.8.5" manuallyInstalled="true" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.7.0" />
  <package id="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
</packages>